@font-face {
  font-family: "RF Dewi";
  src: local("RF Dewi Expanded Ultrabold"), local("RF-Dewi-Expanded-Ultrabold"),
    url("../fonts/rf-dewi/RFDewiExpanded-Ultrabold.woff2") format("woff2"),
    url("../fonts/rf-dewi/RFDewiExpanded-Ultrabold.woff") format("woff"),
    url("../fonts/rf-dewi/RFDewiExpanded-Ultrabold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

:root {
  --main-font: "RF Dewi", serif;
  --inter: "Inter", serif;
}

:root,
body {
  font-size: 10px;
}

@media screen and (min-width: 576px) {
  :root,
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) {
  :root,
  body {
    font-size: 12px;
  }
}

@media screen and (min-width: 992px) {
  :root,
  body {
    font-size: 14px;
  }
}

@media screen and (min-width: 1200px) {
  :root,
  body {
    font-size: 16px;
  }
}

html,
body {
  font-family: var(--main-font);
  font-weight: 400;
  color: #191919;
  scrollbar-gutter: stable;
}
a {
  text-decoration: none;
  transition: all 0.3s ease;
}
button {
  font-family: var(--main-font);
  font-size: 1rem;
  font-weight: 800;
  line-height: 120%;
  cursor: pointer;
  color: #353535;
  padding: 1.3rem 2rem;
  background: #f4df74;
  border-radius: 0.7rem;
  border: none;
  transition: all 0.3s ease;
}
button:hover {
  background: #ffe241;
  transform: scale(1.03);
}
sup {
  vertical-align: super;
  margin: 0.7rem;
  font-size: 0.8rem;
}

body:has(dialog[open]) {
  overflow: hidden;
}
dialog {
  pointer-events: none;
  display: block;
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s;
  border: none;
  border-radius: 1rem;
  padding: 2rem;
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
}
dialog[open] {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.title {
  font-weight: 800;
  font-size: 3rem;
  line-height: 110%;
  text-align: center;
}
.desc {
  font-family: var(--inter);
  font-size: 1rem;
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
  text-align: center;
}

.container {
  max-width: 1104px;
  margin: 0 auto;
  padding: 0 10px;
}

.header {
  position: absolute;
  width: 100%;
  color: #fff;
  z-index: 1;
}
.header .header-inner {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}
.header .desc {
  text-align: start;
  font-weight: 200;
  font-size: 0.9rem;
}
.header a {
  color: #fff;
}
.header a:hover {
  color: #e6d160;
}
.tel,
.mail {
  font-size: 0.9rem;
}

#logo {
  text-align: center;
}
#logo span {
  font-size: 1.5rem;
}
#logo p {
  text-transform: uppercase;
  line-height: 150%;
}

/*----- Hero section -----*/
.hero {
  padding: 214px 0;
  position: relative;
  overflow: auto;
}
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url("../img/hero-bg.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}

.hero-inner {
  display: grid;
  place-items: center;
}
.hero-inner__title {
  font-family: var(--main-font);
  text-align: center;
  font-size: 3.5rem;
  color: #fff;
  margin: 0 0 30px;
}
.hero-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3rem;
}
.hero-modal__title {
  font-size: 2rem;
}

/*----- Products section -----*/
.products {
  padding: 120px 0 280px;
}

.products-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__title {
  margin: 0 0 2.5rem;
}

.products__desc {
  max-width: 740px;
  margin: 0 0 4.5rem;
}

.products-list {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  align-self: normal;
}
.products-list__item {
  color: #000;
  font-weight: 400;
}
.products-list__item:hover {
  transform: translateY(-5px);
  transition: transform 0.3s ease;
}
.products-list__item-img {
  width: 100%;
  border-radius: 4px;
  margin: 0 0 1rem;
}

/*----- About section -----*/
.about {
  padding: 300px 0 130px;
  background: #eee;
}
.about-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.about-video {
  padding: 80px 0 70px;
  position: absolute;
  top: -28rem;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  border-radius: 1rem;
}
.about-video::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  background: url("../img/about/video.jpg") center/cover no-repeat;
  width: 100%;
  height: 100%;
  filter: brightness(30%);
}
.about-video__title {
  font-size: 1.5rem;
  text-align: center;
  line-height: 120%;
  color: #fff;
  margin-bottom: 2.3rem;
}
.about-video__btn:hover {
  transform: scale(1.03);
}
.about__title {
  margin-bottom: 2.5rem;
}
.about__desc {
  max-width: 738px;
  margin-bottom: 4rem;
}
.about-benefits {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.about-benefits__item-img {
  margin: 0 0 2rem;
  border-radius: 0.4rem;
  width: 100%;
}
.about-benefits__item-title {
  text-align: center;
  margin: 0 0 1.5rem;
}

/*----- Print section -----*/
.print {
  padding: 6rem 0;
}
.print__title {
  margin: 0 0 5rem;
}
.print-methods {
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(auto-fill, minmax(534px, 1fr));
}
.print-methods__item-img {
  width: 100%;
  border-radius: 0.4rem;
  margin: 0 0 2.5rem;
}
.print-methods__item-title {
  text-align: center;
  margin: 0 0 1.5rem;
}

/* адаптив */
@media screen and (max-width: 1200px) {
  .about-benefits {
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .print-methods {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .header .header-inner {
    justify-content: center;
  }
  .tel,
  .mail {
    display: none;
  }

  .about-benefits {
    grid-template-columns: repeat(1, 1fr);
  }
  .about-video {
    top: -42rem;
  }

  .print-methods {
    grid-template-columns: repeat(1, 1fr);
  }

  .products-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
